{"is_source_file": true, "file_id": 3, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "240c8c703b8966aa3703d47c9ef9b28c", "format-version": 4, "code-base-name": "Payment Gateways (Stripe, Fijian Providers)", "filename": "Payment_Gateways_(Stripe,_Fijian_Providers)/requirements.txt", "knowledge_revision": 5}