{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 3, "knowledge_revision": 7, "git_revision": "1c8ce178ce41e32ac1dd81d876237b5fa9063396", "hash": "240c8c703b8966aa3703d47c9ef9b28c", "format-version": 4, "code-base-name": "Payment Gateways (Stripe, Fijian Providers)", "filename": "Payment_Gateways_(Stripe,_Fijian_Providers)/requirements.txt", "revision_history": [{"7": "1c8ce178ce41e32ac1dd81d876237b5fa9063396"}]}